{% extends "base.html" %}
{% load i18n allauth widget_tweaks %}
{% block head_title %}
    {% trans "Set Password" %}
{% endblock head_title %}
{% block layout %}
    <div class="container mt-5 d-flex justify-content-center">
        <div class="card" style="max-width: 500px; width: 100%;">
            <div class="card-body">
                <h1 class="card-title text-center">{% trans "Set Password" %}</h1>
                {% url 'account_set_password' as action_url %}
                <form method="post" action="{{ action_url }}">
                    {% csrf_token %}
                    {{ redirect_field }}
                    <div class="form-group">
                        {% render_field form.new_password1 class="form-control" placeholder="New Password" %}
                    </div>
                    <div class="form-group">
                        {% render_field form.new_password2 class="form-control" placeholder="Confirm New Password" %}
                    </div>
                    <div class="text-center">
                        <button type="submit" name="action" class="btn btn-primary">{% trans 'Set Password' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock layout %}
